@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --placeholder: grey;
  --shadow: rgba(0, 0, 0, 0.3)
}

[data-theme='dark'] {
  --background: #0a0a0a;
  --foreground: #ededed;
  --placeholder: rgba(256, 256, 256, .5);
  --shadow: rgba(128, 128, 128, 0.2)
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #3b82f6;
  top: -4px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
}

.scroll {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.scroll::-webkit-scrollbar {
  display: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.shadow {
  backdrop-filter: blur(20px);
  box-shadow: 0 4px 30px 4px var(--shadow);
}

.marginBottom {
  margin-bottom: -50px;
}

input:focus {
  outline-offset: 2.5px;
}


input::placeholder,
textarea::placeholder,
select::placeholder,
::placeholder {
  color: var(--placeholder);
  opacity: 1;
}

[data-theme='dark'] input {
  color-scheme: dark;
}

::-webkit-input-placeholder { /* Safari */
  color: var(--placeholder);
}

input::-moz-placeholder,
textarea::-moz-placeholder,
select::-moz-placeholder,
::-moz-placeholder { /* Firefox 19+ */
  color: var(--placeholder);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
